---
import Banner from "@/components/Banner.astro";
import Footer from "@/components/Footer.astro";
import Group from "@/components/Group.astro";
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import History from "@/components/History.astro";
import Information from "@/components/Information.astro";
import LineBusiness from "@/components/LineBusiness.astro";
import New from "@/components/New.astro";
import Preview from "@/components/Preview.astro";
import Projection from "@/components/Projection.astro";
import Release from "@/components/Release.astro";
import Store from "@/components/Store.astro";
import StrokText from "@/components/StrokText.astro";
import Layout from "@/layout/Layout.astro";
import { Icon } from 'astro-icon/components';


---

<Layout
  description=""
  title=""
  canonical=""
>
	<Header />
  <Hero />
  <History />
  <Group />
  <Projection />
  <LineBusiness />
  <StrokText />
  <Store />
  <Banner />
  <New />
  <Preview />
  <Information />
  <Release />
  <Footer />
  <div class="w-full flex flex-row justify-end fixed bottom-4 right-24">
    <a href="#home">
    <div class="w-16 h-16 rounded-full flex flex-row justify-center items-center bg-cyan-600 animate-slide-out-top">
      <Icon name="mdi:arrow-up-thin-circle-outline" />
    </div>
    </a>
  </div>
</Layout>



<style>
[data-icon] {
    font-size: 2rem;
    color: white;
}
</style>
