<section class="bg-banner w-full h-[260px] mt-40">

</section>

<style>
    .bg-banner {
        background: url('https://res.cloudinary.com/dgnj7t1py/image/upload/v1726355856/mmgivlinss9oezdowqhf.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
