<article class="w-[329px] h-[456px] bg-white border rounded-[32px] ">
    <header>
        <img src="./card-1.png" alt="card 1" class="w-screen">
    </header>
    <main class="p-4">
        <p>
            <b>Demográficos:</b>
            <span>Edad: 18-35 años</span>
            <span>Género: Mujeres / Hombres</span>
            Ubicación: Principalmente en áreas urbanas con acceso a internet y redes sociales
        </p>
    </main>
</article>

<style>
    article {
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    }
</style>
