---
import Instagram from "./Instagram.astro";
import LogoFooter from "./LogoFooter.astro";
import Whatsapp from "./Whatsapp.astro";
---

<footer class="bg-black text-white h-[370px] w-full mt-8 p-20 flex flex-row justify-between items-center">
    <div class="w-[532px] h-[219px] gap-2 flex flex-col">
        <b >Atención al cliente</b>
        <p>Ventas totalmente online</p>
        <p>Despachos a todo colombia </p>
        <p>Empaque completamente artesanal y manual</p>
        <p class="text-balance">Publicaciones no tan frecuentes pero contundentes, muestran el proceso de cada producción siempre resaltando el trabajo que lleva cada libreta</p>
        <p>Poca interacción en redes sociales</p>
        <p>Fácil acceso a sus líneas de atención vìa Whatsapp</p>
    </div>
    <section class="mt-60">
        <div class="flex flex-row gap-4 justify-end items-end">
            <Instagram />
            <Whatsapp />
        </div>
        <LogoFooter />
    </section>
</footer>

<style>
     @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    footer {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
</style>
