---
import Card from "./Card.astro";
import TitleGroup from "./TitleGroup.astro";
---

<section class="flex flex-col justify-center items-center mt-40 mr-auto ml-auto">
    <TitleGroup />
    <section class="mt-10 h-auto flex flex-row gap-4">
        <Card />
        <Card />
        <Card />
    </section>
</section>
