<section class="flex flex-row gap-8 justify-evenly items-center w-[823px] mt-40 ml-auto mr-auto">
    <article class="w-[535px]">
        <p class="text-balance text-[14px]">Empresa creada para la fabricación de Agendas, Planeadores, Libretas 5 materias, fundada en la ciudad de Bogotá  en marzo del 2022 se encuentran en instagram con ventas completamente Online  y sus productos son hechos a mano.
        </p>
        <p class="text-balance text-[14px] mt-2">En abril del año 2022 abrieron su página web. Se identifican como una marca innovadora que buscan diseñar sus productos con un énfasis en las personalidades de sus compradores.</p>
    </article>
    <h2 class="text-[64px] text-balance font-bold">Historia</h2>
</section>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    h2 {
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }

    p {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
</style>
