---
import ImageInformation from "./ImageInformation.astro";
---

<section class="flex flex-col justify-center items-center mt-40">
    <h1 class="text-4xl text-[#E46B81] font-bold">Nueva campaña</h1>
    <ImageInformation />
</section>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

    h1 {
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }
</style>
