<section class="w-full h-[703px] mt-40 flex flex-row justify-end items-end">
    <article class="w-[661px] h-[435px] mb-[140px] mr-[90px] bg-[#110D04] text-white p-24">
        <h3 class="text-4xl mb-4 font-bold">Proyección</h3>
        <p class="text-[16px] text-balance">Crear un fidelidad con el cliente, teniendo en cuenta que sus productos estan basados en un proceso creativo que es inspirado por sucesos que nos identifican a todos, ya sea una experiencia de la infancia, cosas del día a día que ocasionen buenos momentos y temas de cultura general que todos los usuarios conozcan.</p>
        <article class="w-full flex flex-row justify-end gap-4 mt-3 mb-8">
            <div class="bg-[#75AEB9] w-[90px] h-[90px] flex justify-center items-center rounded-[16px]">
                <p class="text-balance text-[12px] text-center">Calidad artesanal</p>
            </div>
            <div class="bg-[#75AEB9] w-[90px] h-[90px] flex justify-center items-center rounded-[16px]">
                <p class="text-balance text-[12px] text-center">Diseños exclusivos</p>
            </div>
            <div class="bg-[#75AEB9] w-[90px] h-[90px] flex justify-center items-center rounded-[16px]">
                <p class="text-balance text-[12px]">Sostenibilidad</p>
            </div>
        </article>
    </article>
</section>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
  section {
    background-image: url('./heard.png');
  }

    h3 {
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }

    p {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
</style>
