---
import ImageRelease from "./ImageRelease.astro";
---

<section class="flex flex-row justify-between items-start gap-8 mt-40">
    <ImageRelease class="w-[813px] h-[813px] object-cover" />
    <div class="flex flex-col justify-end w-[24rem]">
        <h3 class="text-black text-6xl text-left">Fase de </h3>
        <h3 class="text-black text-6xl text-left">Lanzamiento</h3>
    </div>

</section>

<style lang="css" scoped>
    @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

    h3 {
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }
</style>
