<section class="bg-[#85C8D7] h-[322px] w-full flex flex-row justify-center items-center ">
    <div class="flex flex-col justify-center items-center w-[880px] ml-auto mr-auto">
        <h3 class="text-5xl font-bold text-white self-start">No se maneja Stock, se produce todo bajo pedido</h3>
    <h4 class="self-end mt-12 text-3xl text-white font-bold w-[72%]">Los diseños se pueden personalizar como lo</h4>
    <h4 class="self-end text-3xl text-white font-bold w-72">requiera el cliente</h4>
    </div>
</section>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    h3 {
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;

            color: white;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
    }

    h4 {
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }
</style>
